body{
    font-family:'Open Sans';
    font-weight: 300;
    margin: 0;
    
}
.home{
   border-bottom: 2px solid yellow ;
   color: #ffee10;
}

#user_option{
    width: 150px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    align-items: center;
    left: 1080px;
    top: 73px;
    opacity: 0;
    
}

.user-menu-option{
    background-color: #ffffff85;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.377);
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
   font-size: 12px;
   font-weight: 500;
}

@media screen and (max-width: 600px) {
    
}